/* client/src/pages/ComplaintPage.module.css */
/* We can reuse many styles from our other forms */
@import './CreateProfilePage.module.css';

.subtitle {
  text-align: center;
  color: var(--text-secondary);
  margin-top: -1rem;
  margin-bottom: 2rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.success {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #16a34a; /* Green */
    background-color: rgba(22, 163, 74, 0.1);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #16a34a;
}